@page "/consume-component-3"
@using ComponentLibrary

<head>
    <link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet" />
</head>

<h1>Consume component (<code>additionalStyles.css</code> example)</h1>

<ExtraStyles />