@page "/Register"
@inject NavigationManager Navigation
@using System
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

<h1>Register</h1>
<div class="card-header">
    <EditForm Model="@register" OnValidSubmit="@AddRegis">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card-body">
            <div class="form-container">
                <div class="form-group">
                    <label for="username">Username</label>
                    <InputText id="username" name="username" class="form-control" @bind-Value="register.username" />
                    <ValidationMessage For="() => register.username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText id="password" name="password" class="form-control" type="password"
                        @bind-Value="register.password" />
                    <ValidationMessage For="() => register.password" />
                </div>
                <div class="form-group">
                    <label for="telp">No Telp:</label>
                    <InputText id="telp" name="telp" class="form-control" @bind-Value="register.notelp" />
                    <ValidationMessage For="() => register.notelp" />
                </div>
                @* <div class="form-group">
                    <label for="registeras">Register As</label>
                    <InputSelect id="registeras" name="registeras" class="form-control" style="width: 100%;"
                        @bind-Value="register.registeras">
                        <option value="Pengguna Rumahan">Pengguna Rumahan</option>
                        <option value="Pengambil Sampah">Pengambil Sampah</option>
                        <option value="Bank Sampah">Bank Sampah</option>
                    </InputSelect>
                </div> *@
                <br>
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="divider">OR</div>
                <button type="button" class="btn btn-secondary" @onclick="login">Login</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private Regis register = new();
    private void HandleValidSubmit()
    {

    }

    public async Task AddRegis(){
        await Http.PostAsJsonAsync("http://localhost/Slims3/api/fe/regis", register);
    }

    private void login()
    {
        Navigation.NavigateTo("/");
    }

    public class Regis
    {
        [Required(ErrorMessage = "Username Belum Diisi")]
        public string? username{get;set;}
        
        @* [Required(ErrorMessage ="Password Belum diisi atau Salah")] *@
        public string? password{get;set;}
        
        [Required(ErrorMessage = "nomor telpon belum diisi")]
        public string? notelp{get;set;}

        @* [Required(ErrorMessage = "pilih akun login anda sebagai")]
        public string? registeras{get;set;} *@
    }
}
    


